<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="shortcut icon" href="./assets/images/favicon.svg" type="image/svg"/>
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="./assets/css/lineicons.css" />
        <link rel="stylesheet" href="./assets/css/glightbox.min.css" />
        <link rel="stylesheet" href="./assets/css/tiny-slider.css" />
        <link rel="stylesheet" href="./assets/scss/starter.css" />
        <link rel="stylesheet" href="./assets/scss/navbars/navbar-09.css" />
        <link rel="stylesheet" href="./assets/scss/portfolios/portfolio-02.css" />
        <link rel="stylesheet" href="./assets/scss/footers/footer-02.css" />
        <link rel="stylesheet" href="./assets/scss/call-to-action/call-to-action-02.css" />
        <link rel="stylesheet" href="./assets/scss/testimonials/testimonial-01.css" />
    
        <script src="./assets/js/tiny-slider.js"></script>
        <script src="./assets/js/glightbox.min.js"></script>
        <script src="./assets/js/bootstrap.bundle.min.js"></script>
    </head>
<body>
    <%- include('partials/header', { title: 'Home Page' }) %>

    <%- include('sections/main') %>

    <%- include('sections/what_people_say') %>

    <%- include('sections/email_contact') %>

    <%- include('partials/footer') %>
</body>
</html>
