<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head') %>

<body>
    <%- include('partials/header', { title: 'Home Page' }) %>

    <%- include('sections/main') %>

    <%- include('sections/what_people_say') %>

    <%- include('sections/email_contact') %>

    <%- include('partials/footer') %>
</body>
</html>
